{% extends 'base.html' %}

{% block title %}Change your password{% endblock %}

{% block content %}
    <div style="padding-left: 10%; padding-top: 1%">
        <h1>Change your password</h1>
        <p>Use the form below to change your password.</p>
        <form action="." method="post">
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                    <small style="font-style: italic; color: #ff300f; font-size: 0.8em;">{{ field.errors }}</small>
                    {% if field.help_text %}
                        <small style="font-style: italic; color: #10c1d1; font-size: 0.8em;">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <p><input class="btn btn-primary" type="submit" value="Change"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}