{% load thumbnail %}
<div class="row md-2">
    {% for image in images %}
        {% thumbnail image.image "250x200" crop="100%" as im %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="{{ image.image.url }}">
                        <img id="dl" class="card-img-top" src="{{ im.url }}" alt="Image not loaded">
                    </a>
                    <div class="card-body">
                        <span class="h4">{{ image.title }}</span>
                        {% if request.user in image.users_like.all %}
                            <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="red" xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px">
                                <path fill-rule="evenodd"
                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                                      clip-rule="evenodd"/>
                            </svg>
                        {% endif %}
                        <p class="card-text">{{ image.description|truncatechars:80 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" href="{{ image.get_absolute_url }}"
                                   class="btn btn-sm btn-outline-secondary">View</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ image.image.url }}"
                                   download>Save</a>
                            </div>
                            <small class="text-muted">{{ image.user.get_full_name }}, {{ image.created|timesince }}
                                ago</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endthumbnail %}
    {% endfor %}
</div>