{% extends "base.html" %}
{% load thumbnail %}
{% load image_tags %}
{% block title %}{{ user.get_full_name }}{% endblock %}
{% block content %}
    <div style="padding-left: 10%; padding-top: 1%; padding-right: 5%">
        <h1>{{ user.get_full_name }}</h1>
        <div class="row">
            <div class="col-2">
                <img src="{% thumbnail user.profile.photo "180x180" %}" class="userdetail">
            </div>
            <div class="col-10" style="margin: 1% 0 0 0">
                {% with total_followers=user.followers.count %}
                    <span class="count">
                <span class="total">{{ total_followers }}</span>
                <span class="followers">follower{{ total_followers|pluralize }} | </span>
                    <span>{% total_likes user %} total likes | </span>
                    <span>{% total_views user %} total views</span>
                </span>
                    <br>
                    <br>
                    {% if user != request.user %}
                        <a href="#" data-id="{{ user.id }}"
                           data-action="{% if request.user in user.followers.all %}un{% endif %}follow"
                                {% if request.user not in user.followers.all %}
                           class="followbutton btn btn-outline-primary" style="width: 100px">
                                    Follow
                                {% else %}
                                    class="followbutton btn btn-primary" style="width: 100px">
                                    Unfollow
                                {% endif %}
                        </a>
                    {% endif %}
                    </div>

                    <br> <br> <br> <br> <br> <br> <br> <br><br>
                    <h2>{{ user.first_name }}'s followers:</h2>
                    <div class="row" style="padding-top: 20px">
                        {% for follower in user.followers.all %}
                            <div class="col-1">
                                {% thumbnail follower.profile.photo '50' as profile %}
                                    <a href="{{ follower.get_absolute_url }}">
                                        <img src="{{ profile.url }}" style="border-radius: 50%">
                                    </a>
                                {% endthumbnail %}
                                <p>{{ follower.first_name }}</p>
                            </div>
                        {% empty %}
                            Nobody follows this user yet.
                        {% endfor %}
                    </div>
                    <hr>
                    <div>
                        <h2>Images bookmarked by {{ user.first_name }}:</h2>
                        <br>
                        <div id="image-list" class="image-container">
                            {% include "images/image/list_ajax.html" with images=user.images_created.all %}
                        </div>
                    </div>
                {% endwith %}
        </div>
    </div>
{% endblock %}

{% block domready %}
    $('a.followbutton').click(function (e) {
    e.preventDefault();
    $.post('{% url "user_follow" %}',
    {
    id: $(this).data('id'),
    action: $(this).data('action')
    },
    function (data) {
    if (data['status'] === 'ok') {
    var previous_action = $('a.followbutton').data('action');
    $('a.followbutton').data('action', previous_action === 'follow' ? 'unfollow' : 'follow');
    $('a.followbutton').text(previous_action === 'follow' ? 'Unfollow' : 'Follow');

    var previous_followers = parseInt($('span.count .total').text());
    $('span.count .total').text(previous_action === 'follow' ? previous_followers + 1 : previous_followers - 1);

    if (previous_action == 'follow') {
    $('a.followbutton').toggleClass('btn-primary btn-outline-primary')
    } else {
    $('a.followbutton').toggleClass('btn-outline-primary btn-primary')
    }

    var follower_plural = $('span.count .followers').text()
    var new_followers = parseInt($('span.count .total').text());
    $('span.count .followers').text(new_followers == 1 ? follower_plural = 'follower' : follower_plural = 'followers');
    }
    });
    });
{% endblock %}