{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ user.get_full_name }}{% endblock %}
{% block content %}
    <h1>{{ user.get_full_name }}</h1>
    <div class="profile-info">
        <img src="{% thumbnail user.profile.photo "180x180" %}" class="userdetail">
    </div>
    {% with total_followers=user.followers.count %}
        <span class="count">
            <span class="total">{{ total_followers }}</span>
            <span class="followers">follower{{ total_followers|pluralize }}</span>
        </span>
        <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow"
           class="followbutton">
            {% if request.user not in user.followers.all %}
                Follow
            {% else %}
                Unfollow
            {% endif %}
        </a>
        <h3>Images bookmarked by {{ user.first_name }}:</h3>
        <div id="image-list" class="image-container">
            {% include "images/image/list_ajax.html" with images=user.images_created.all %}
        </div>
    {% endwith %}
{% endblock %}

{% block domready %}
    $('a.followbutton').click(function (e) {
        e.preventDefault();
        $.post('{% url "user_follow" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function (data) {
                if (data['status'] === 'ok') {
                    var previous_action = $('a.followbutton').data('action');
                    $('a.followbutton').data('action', previous_action === 'follow' ? 'unfollow' : 'follow');
                    $('a.followbutton').text(previous_action === 'follow' ? 'Unfollow' : 'Follow');

                    var previous_followers = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action === 'follow' ? previous_followers + 1 : previous_followers - 1);

                    var follower_plural = $('span.count .followers').text()
                    var new_followers = parseInt($('span.count .total').text());
                    $('span.count .followers').text(new_followers == 1 ? follower_plural = 'follower' : follower_plural = 'followers');
                }
            });
    });
{% endblock  %}